<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/home.css">
  <link rel="stylesheet" href="../css/reset.css">
</head>

<body>
  <header>
    <div id="branding">
      <img loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/3a6071372e13810f65ecec85d52f96fb48906b09d135bc111b19624d0389062a?"
        class="img" />
      <h1>Visualisasi Data Promosi</h1>
    </div>
    <a href="/dashboard" id="dashboard-button">Dashboard</a>
  </header>

  <section id="main">
    <div class="left-col">
      <h1 class="title">Selamat datang, silahkan masukan data baru di form berikut :</h1>
      <div class="form-container">
        <form action="/upload-csv" method="post" id="upload-data" enctype="multipart/form-data">
          <label for="csv" class="drop-container" id="dropcontainer">
            <span class="drop-title">Drop file csv</span>
            Atau cari file :
            <div class="container">
              <input type="file" id="csv" name="csv" accept=".csv" required>
              <input type="submit" value="Upload data">
            </div>
          </label>
        </form>
      </div>
      <h3 class="informasi-tambahan">
        Atau masuk ke <a href="/dashboard" target="_blank" rel="noopener noreferrer">
          Dashboard
        </a>
      </h3>

    </div>
    <div class="right-col">
      <img loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/2e4a1382f3c792615ca1460c8407e557c9b54f588f4396603afdc8cb696070c2?"
        class="img-2" />
    </div>
  </section>
</body>
<script>
  document.getElementById('upload-data').addEventListener('submit', async function (event) {
    event.preventDefault();

    const fileInput = document.getElementById('csv');
    const file = fileInput.files[0];

    if (!file) {
      alert('Please select a file.');
      return;
    }

    const formData = new FormData();
    formData.append('csv', file);

    try {
      const response = await fetch('/upload-csv', {
        method: 'POST',
        body: formData,
      });

      const result = await response.json();

      if (result.success) {
        alert('Data uploaded successfully!');
      } else {
        alert('Error uploading data.');
      }
    } catch (error) {
      console.error('Error:', error);
    }
  });
</script>

</html>