.chart-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  /* background-color: moccasin; */
  height: calc(100vh - 120px);
}
.chart-container > * {
  background-color: white;
  height: 517px;
  /* height: fit-content; */
  padding: 1rem;
  margin: 2rem;
  border: 2px solid black;
  border-radius: 4px;
}

select {
  max-width: 20ch;
}

canvas {
  margin: 2rem 0;
}
