.chart-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 80vw;
  justify-content: center;
}
.chart-container > * {
  min-height: 400px;
}

select {
  max-width: 20ch;
}
