* {
  font-family: Poppins, sans-serif;
}
header {
  max-width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2rem 0;
}

#branding,
section#main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#branding h1 {
  margin-left: 1rem;
}
header a#dashboard-button {
  color: #fff;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  background-color: #38a755;
  height: fit-content;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font: 700 20px Poppins, sans-serif;
}

section#main {
  width: 80vw;
  margin: 0 auto;
}

@media only screen and (max-width: 810px) {
  .right-col {
    display: none;
  }
}

.title {
  margin-bottom: 2rem;
}
.left-col {
  display: flex;
  flex-direction: column;
}

.informasi-tambahan {
  margin-top: 2rem;
}

.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.drop-container .container {
  display: flex;
  flex-direction: row;
}

.drop-container:hover,
.drop-container.drag-active {
  background: #eee;
  border-color: #111;
}

.drop-container:hover .drop-title,
.drop-container.drag-active .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color 0.2s ease-in-out;
}

input[type='file'] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

input[type='file']::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #38a755;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type='submit'] {
  border: none;
  background: #38a755;
  padding: 4px 8px;
  margin: 0 0.4rem;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

input[type='file']::file-selector-button:hover,
input[type='submit']:hover,
a#dashboard-button:hover {
  background: #25753a;
}
